@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.33px;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 29px;
    letter-spacing: -0.25px;
  }

  h3 {
    font-size: 1.125rem;
    line-height: 26px;
    letter-spacing: -0.25px;
  }

  h4 {
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: -0.2px;
  }

  p1 {
    font-size: 1rem;
    line-height: 23px;
  }

  p2 {
    font-size: 0.9375rem;
    line-height: 22px;
  }

  p3 {
    font-size: 0.8125rem;
    line-height: 19px;
  }
}
